#masthead{
	height: auto;
	background-color:#ac2223;
	-webkit-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
}

.site-branding{
	/*padding:15px;*/
	text-align:left;
	justify-content: center;
	color:#fff;
	display: flex;
	flex-direction: row;
	clear: both;
	/*height: 150px;*/
}


.site-branding img.thema-logo{
	max-width:120px;
	margin-right:15px;
	float:left;
}


/*
.site-title{
	font-size:55px;
	margin:10px 0;
	color:#fff;
}
.site-title a{
	text-decoration: none;
	color:#fff;

}
*/
.site-description{
	margin: -15px 0 0 0;
}

.thema-language-switch{
	padding: 1.5em 1em 0 0;
	height:auto;
	width:auto;
	float:right;
	clear:both;
	display: block;
}
.thema-language-switch .lang-item{
	list-style: none;
	display: inline;

}
.thema-language-switch select {
    width: 200px;
    padding: 5px;
    color: #1f1f1f;
}
.thema-language-switch .lang-item a{

	border: 1px solid #fff;
	color:#fff;
	padding:15px;
	margin:0px;

	transition-property: background;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.thema-language-switch .lang-item a:hover{
	padding:15px;
	color:red;
	border: 1px solid #dfacac;
	background:#fff;
}

/* Eiconnau Cymdeithasol */
.cyfryngau-cymdeithasol{
	text-align: center;
}
.cyfryngau-cymdeithasol ul{
	margin: 0 0;
	padding:0;
}
.cyfryngau-cymdeithasol ul{
	list-style-type: none;
}
.cyfryngau-cymdeithasol ul li{
	display:inline-block;
	margin: 0 15px;
}
.cyfryngau-cymdeithasol ul li a{
	color: #fff;
	font-size: 2em;
	text-align: right;
	line-height: 1.5;
}