a {
	color: #B1B1B1;
	text-decoration: underline;
}

a:visited {
	color: #B1B1B1;
}

a:hover,
a:focus,
a:active {
	color: #ffe;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}